In [1]:
import numpy as np
import pandas as pd

In [38]:
not_exercise = pd.read_excel("../data/reason_not_exc.xls")
not_exercise.head()

,기간,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
0,2017,서울시,서울시,49.7,8.1,5.8,34.7,1.7
1,2017,성별,남자,55.2,7.9,5.5,29.8,1.6
2,2017,성별,여자,45.0,8.3,6.0,38.8,1.8
3,2017,연령별,10대,55.7,6.1,5.6,32.2,0.3
4,2017,연령별,20대,54.8,6.9,5.2,32.9,0.1

In [12]:
not_exercise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 8 columns):
기간                   53 non-null int64
대분류                  53 non-null object
분류                   53 non-null object
운동을 할 충분한 시간이 없어서    53 non-null float64
함께 운동을 할 사람이 없어서     53 non-null object
운동을 할 만한 장소가 없어서     53 non-null float64
운동을 싫어해서             53 non-null float64
기타                   53 non-null object
dtypes: float64(3), int64(1), object(4)
memory usage: 3.4+ KB

In [13]:
not_exercise.describe()

           기간  운동을 할 충분한 시간이 없어서  운동을 할 만한 장소가 없어서   운동을 싫어해서
count    53.0          53.000000         53.000000  53.000000
mean   2017.0          48.922642          5.639623  35.235849
std       0.0           8.839675          1.855588   6.020768
min    2017.0          22.700000          0.600000  22.300000
25%    2017.0          46.000000          4.900000  31.500000
50%    2017.0          50.500000          5.700000  33.600000
75%    2017.0          54.900000          6.900000  37.800000
max    2017.0          65.300000         10.600000  50.700000

In [39]:
not_exercise.drop(columns='기간', inplace=True)
not_exercise.head()

,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
0,서울시,서울시,49.7,8.1,5.8,34.7,1.7
1,성별,남자,55.2,7.9,5.5,29.8,1.6
2,성별,여자,45.0,8.3,6.0,38.8,1.8
3,연령별,10대,55.7,6.1,5.6,32.2,0.3
4,연령별,20대,54.8,6.9,5.2,32.9,0.1

In [20]:
not_exercise.drop(columns='대분류', inplace=True)
not_exercise.head()

    분류  운동을 할 충분한 시간이 없어서 함께 운동을 할 사람이 없어서  운동을 할 만한 장소가 없어서  운동을 싫어해서   기타
0  서울시               49.7              8.1               5.8      34.7  1.7
1   남자               55.2              7.9               5.5      29.8  1.6
2   여자               45.0              8.3               6.0      38.8  1.8
3  10대               55.7              6.1               5.6      32.2  0.3
4  20대               54.8              6.9               5.2      32.9  0.1

In [40]:
not_exercise.drop(index=range(23, 53), inplace=True)
not_exercise

,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
0,서울시,서울시,49.7,8.1,5.8,34.7,1.7
1,성별,남자,55.2,7.9,5.5,29.8,1.6
2,성별,여자,45.0,8.3,6.0,38.8,1.8
3,연령별,10대,55.7,6.1,5.6,32.2,0.3
4,연령별,20대,54.8,6.9,5.2,32.9,0.1
5,연령별,30대,58.1,5.5,4.6,31.6,0.2
6,연령별,40대,57.7,6.8,5.2,29.4,1
7,연령별,50대,50.1,9.2,7.2,32.2,1.4
8,연령별,60대 이상,27.5,12.8,6.9,46.8,6
9,학력별,중졸 이하,26.1,13.7,6.6,46.2,7.4
10,학력별,고졸 이하,46.3,8.5,6.9,36.5,1.7
11,학력별,대졸 이하,57.4,6.6,4.9,30.7,0.4
12,학력별,대학원 이상,65.3,3.8,0.6,29.6,0.6
13,소득별,100만원 미만,22.7,10.3,3.6,50.7,12.7
14,소득별,100-200만원 미만,34.3,11.5,7.1,41.5,5.6
15,소득별,200-300만원 미만,48.8,12.3,6.8,30.7,1.4
16,소득별,300-400만원 미만,54.9,7.1,6.5,31.2,0.3
17,소득별,400-500만원 미만,56.1,5,5.3,33.0,0.6
18,소득별,500만원 이상,52.3,7.1,5.1,34.9,0.6
19,혼인상태별,기혼,50.7,7.8,5.4,34.9,1.2
20,혼인상태별,미혼,54.3,7.1,5.4,32.2,1
21,혼인상태별,이혼/별거,47.4,8.3,6.8,34.9,2.7
22,혼인상태별,사별,25.2,14.9,8.9,42.9,8

In [42]:
not_ex_sex = not_exercise[not_exercise['대분류']=='성별'].copy()
not_ex_sex

  대분류  분류  운동을 할 충분한 시간이 없어서 함께 운동을 할 사람이 없어서  운동을 할 만한 장소가 없어서  운동을 싫어해서   기타
1  성별  남자               55.2              7.9               5.5      29.8  1.6
2  성별  여자               45.0              8.3               6.0      38.8  1.8

In [43]:
f, ax = plt.subplots(1,3, figsize=(16, 8))

raw_data[''].plot.pie(explode=[0, 0.02],
                         ax=ax[0], autopct='%1.1f%%')
ax[0].set_title('스트레스를 받은적 있다')
ax[0].set_ylabel('')

,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
0,서울시,서울시,49.7,8.1,5.8,34.7,1.7
1,성별,남자,55.2,7.9,5.5,29.8,1.6
2,성별,여자,45.0,8.3,6.0,38.8,1.8
3,연령별,10대,55.7,6.1,5.6,32.2,0.3
4,연령별,20대,54.8,6.9,5.2,32.9,0.1
5,연령별,30대,58.1,5.5,4.6,31.6,0.2
6,연령별,40대,57.7,6.8,5.2,29.4,1
7,연령별,50대,50.1,9.2,7.2,32.2,1.4
8,연령별,60대 이상,27.5,12.8,6.9,46.8,6
9,학력별,중졸 이하,26.1,13.7,6.6,46.2,7.4
10,학력별,고졸 이하,46.3,8.5,6.9,36.5,1.7
11,학력별,대졸 이하,57.4,6.6,4.9,30.7,0.4
12,학력별,대학원 이상,65.3,3.8,0.6,29.6,0.6
13,소득별,100만원 미만,22.7,10.3,3.6,50.7,12.7
14,소득별,100-200만원 미만,34.3,11.5,7.1,41.5,5.6
15,소득별,200-300만원 미만,48.8,12.3,6.8,30.7,1.4
16,소득별,300-400만원 미만,54.9,7.1,6.5,31.2,0.3
17,소득별,400-500만원 미만,56.1,5,5.3,33.0,0.6
18,소득별,500만원 이상,52.3,7.1,5.1,34.9,0.6
19,혼인상태별,기혼,50.7,7.8,5.4,34.9,1.2
20,혼인상태별,미혼,54.3,7.1,5.4,32.2,1
21,혼인상태별,이혼/별거,47.4,8.3,6.8,34.9,2.7
22,혼인상태별,사별,25.2,14.9,8.9,42.9,8

In [46]:
not_ex_age = not_exercise[not_exercise['대분류']=='연령별'].copy()
not_exercise.drop(columns='대분류', inplace=True)
not_ex_age

,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
3,연령별,10대,55.7,6.1,5.6,32.2,0.3
4,연령별,20대,54.8,6.9,5.2,32.9,0.1
5,연령별,30대,58.1,5.5,4.6,31.6,0.2
6,연령별,40대,57.7,6.8,5.2,29.4,1
7,연령별,50대,50.1,9.2,7.2,32.2,1.4
8,연령별,60대 이상,27.5,12.8,6.9,46.8,6

In [52]:
not_ex_age['운동을 할 충분한 시간이 없어서']

3    55.7
4    54.8
5    58.1
6    57.7
7    50.1
8    27.5
Name: 운동을 할 충분한 시간이 없어서, dtype: float64

In [ ]:
f, ax = plt.subplots(1,3, figsize=(16, 8))

# explode_setting = [0.02]


not_ex_age['운동을 할 충분한 시간이 없어서'].plot.pie(explode=[0, 0.02],
                         ax=ax[0], autopct='%1.1f%%')
ax[0].set_title('운동을 할 충분한 시간이 없어서')
ax[0].set_ylabel('')

not_ex_age['함께 운동을 할 사람이 없어서'].plot.pie(explode=[0, 0.02],
                         ax=ax[1], autopct='%1.1f%%')
ax[1].set_title('함께 운동을 할 사람이 없어서')
ax[1].set_ylabel('')

not_ex_age['운동을 할 만한 장소가 없어서'].plot.pie(explode=[0, 0.02],
                         ax=ax[2], autopct='%1.1f%%')
ax[2].set_title('운동을 할 만한 장소가 없어서')
ax[2].set_ylabel('')

In [48]:
import matplotlib.pyplot as plt
%matplotlib inline

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

f_path = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family = font_name)

3       10대
4       20대
5       30대
6       40대
7       50대
8    60대 이상
Name: 분류, dtype: object